<script>
    window.Vue = require('vue');
    import 'es6-promise/auto';
    window.axios = require('axios');
    window.axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
    let token = document.head.querySelector('meta[name="csrf-token"]');
    if (token) {
        window.axios.defaults.headers.common['X-CSRF-TOKEN'] = token.content;
    } else {
        console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
    }

    import VueForm from 'vue-form';

    import { required } from 'ux-data/src/validators/required';

    let vm = new Vue({

        el: '#utcApp',

        data: {
            forms: {
                participation: {
                    name: {
                        rules: {
                            required
                        }
                    },
                    surname: {
                        rules: {
                            required
                        }
                    },
                    email: {
                        rules: {
                            required
                        }
                    },
                    tel: {
                        rules: {
                            required
                        }
                    },
                    optin: {
                        rules: {
                            required
                        }
                    },
                    optpromo: {
                        rules: {
                            required
                        }
                    },
                }
            }
        },

        components: {
            VueForm
        },

        created () {},

        methods: {},

        mounted() {}

    });


    // import { DataSet } from 'ux-data';
    // import { required } from 'ux-data/src/validators/required';
    // import { integer } from 'ux-data/src/validators/integer';
    //
    // let DS = new DataSet({
    //     name: {
    //         rules: {
    //             required, integer
    //         }
    //     }
    // });
    //
    // DS.validate();
    //
    // // console.log(DS.item('name'));
</script>
<div id="utcApp">

    {{--<vue-form inline-template>--}}
    <vue-form inline-template
              :items="{'name':'','surname':'','email':'','tel':'','optin':false,'optpromo':false}"
              passthrough=""
              action="/api/participations"
              slug="participation">

        <form action="/api/participations"
              class="participation"
              method="post"
              @submit.prevent="onSubmit"
              @keydown="dataset.errors.clear($event.target.name)"
              autocomplete="off">

            <input type="hidden" name="choice" >

            <div class="form-group">
                <label for="nameInput" class="sr-only">Όνομα</label>
                <input type="text" class="form-control required" id="nameInput" placeholder="ΟΝΟΜΑ" name="name"
                       v-model="dataset.name"
                       v-bind:class="{ 'is-invalid': dataset.errors.has('name') }">
                <span class="invalid-feedback" role="alert" v-if="dataset.errors.has('name')">
                                        <strong v-text="dataset.errors.get('name')"></strong>
                                    </span>
            </div>

            <div class="form-group">
                <label for="surnameInput" class="sr-only">Επώνυμο</label>
                <input type="text" class="form-control required" id="surnameInput" placeholder="ΕΠΩΝΥΜΟ" name="surname"
                       v-model="dataset.surname" v-bind:class="{ 'is-invalid': dataset.errors.has('surname') }">
                <span class="invalid-feedback" role="alert" v-if="dataset.errors.has('surname')">
                                        <strong v-text="dataset.errors.get('surname')"></strong>
                                    </span>
            </div>

            <div class="form-group">
                <label for="emailInput" class="sr-only">E-mail</label>
                <input type="email" class="form-control required" id="emailInput" placeholder="EMAIL" name="email"
                       v-model="dataset.email" v-bind:class="{ 'is-invalid': dataset.errors.has('email') }">
                <span class="invalid-feedback" role="alert" v-if="dataset.errors.has('email')">
                                        <strong v-text="dataset.errors.get('email')"></strong>
                                    </span>
            </div>

            <div class="form-group">
                <label for="mobileInput" class="sr-only">Τηλέφωνο</label>
                <input type="text" class="form-control" id="mobileInput" placeholder="KINHTO" name=""
                       v-model="dataset.tel" v-bind:class="{ 'is-invalid': dataset.errors.has('tel') }">
                <span class="invalid-feedback" role="alert" v-if="dataset.errors.has('tel')">
                                        <strong v-text="dataset.errors.get('tel')"></strong>
                                    </span>
            </div>

            <div class="form-group">
                <div class="checkbox" v-bind:class="{ 'has-error': dataset.errors.has('optin') }">
                    <label style="">
                        <input type="checkbox" id="optCheck1" name="opt" class="required" v-model="dataset.optin">
                        Αποδέχομαι τους <a class="ajaxmodal" href="/terms">όρους του διαγωνισμού.</a>
                    </label>
                </div>
                <div class="checkbox" v-bind:class="{ 'has-error': dataset.errors.has('optpromo') }">
                    <label style="">
                        <input type="checkbox" id="optCheck" name="optpromo" class="required" v-model="dataset.optpromo">
                        Παρέχω τη ρητή συναίνεσή μου για την τήρηση και επεξεργασία των προσωπικών μου δεδομένων κατά τους <a class="ajaxmodal" href="/terms">όρους του διαγωνισμού.</a>
                    </label>
                </div>
            </div>

            <div class="form-group global-msg">
                <div class="msg global"></div>
            </div>

            <div class=" text-center">
                <button type="submit" class="button but">
                    ΥΠΟΒΟΛΗ
                </button>
            </div>

        </form>

    </vue-form>

</div>